<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Note text:</strong>-->
  <%#= @note.note_text %>
<!--  <strong>Note title:</strong>-->
  <%#= @note.title %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_note_path(@note) %> |-->
<%#= link_to 'Back', notes_path %>



<h1>Your Notes</h1>
<div class="container">
  <div class="row">
    <div class="col-2">
      <ul class="notes-list">
        <% @notes.each do |note| %>
          <li class="note">
            <%= link_to note.title, edit_note_path(note), class:"note-link" %>
            <div class="buttons-link-position">
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, note,  class: "btn btn-secondary button-margin",  method: :delete, data: { confirm: 'Are you sure?' }%>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col bg-note-text">
      <div class="note-title">
        <%= @note.title %>
      </div>
      <div  class="note-text">
        <%= @note.note_text %>
      </div>
    </div>
  </div>
</div>
</div>
<%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_note_path, class:"btn btn-secondary add-button" %>